body {
    background-color: #0D1117;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

.form-group {
    margin: 20px 0px;
}

label {
    margin: 10px 0px;
    font-weight: bolder;
}

ul li img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 3px solid #1a222e;
    box-shadow: 5px 5px 20px #1a222e;
    margin: 0px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}


.container {
    text-align: center;
    border: 1px solid #151c25;
    margin-top: 50px;
    box-shadow: 10px 10px 25px #1a222e;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 700px;
}